@{
    ViewBag.Title = "后台管理";
}
<div class="container text-center" id="pagetop">
    <div class="row">
        <div class="col-lg-3">
            <a href="@Url.Action("CreateArticle")" title="写点东西"><img src="~/images/Admin/edit.png" /><br />写点东西</a>
        </div>
        <div class="col-lg-3">
            <a href="@Url.Action("Statistics")" title="数据统计"><img src="~/images/Admin/chart.png" /><br />数据统计</a>
        </div>
        <div class="col-lg-3">

        </div>
    </div>
    @*<div class="row">
        <div class="col-lg-3">

        </div>
        <div class="col-lg-3">

        </div>
        <div class="col-lg-3">

        </div>*@
</div>
@for (var i = 0; i < 20; i++)
{
    <br/>
}
</div>
